@model Order

    <style>
        tr {
            color: white;
        }

        h2 {
            color: white;
        }

        .container {
            padding: 80px 120px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }
    </style>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="container">
        <h2>Check out now</h2>
        <p style="font-size:20px">Please enter your name, and your order will be added to the queue!</p>
        <form asp-action="Checkout" method="post">
            <div class="form-group" width="250">
                <label>Name:</label><input asp-for="Name" class="form-control" />
            </div>

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Complete Order" />
            </div>
        </form>
    </div>